.heading 
{
    width: 100%;
    text-align: left;
}

.heading h3 
{
    display: inline;
}

.heading button 
{
    float: right;
    border: 1px solid white;
}

.bigimage 
{
    width: 100%;
}

#start,#status
{
    font-size: 22px;
}

.copy-right-footer 
{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    line-height: 2;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
}

.modal-dialog 
{
    width: 90%;
}

.instruction_image 
{
    width: 45%;
    display: inline-block;
}

canvas 
{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}
